.aboutdiv
{
    width: 100%;
    min-height: 100vh;
}
.about-div
{
    display: flex;
    
}
.top
{
    padding: 20px;
  border-radius: 20px;
    box-shadow:5px 5px 5px 8px rgba(0, 0, 0, 0.346);
    margin-left:7%;
    margin-top: 5%;
    width: 30vw;
    height: 35vh;
}
.top h1{
    font-size: 2.5em;
}
.top i{
    font-size: 1.2em;
    color: grey;
}
.top1
{
    padding: 20px;
  border-radius: 20px;
    box-shadow:5px 5px 5px 8px rgba(0, 0, 0, 0.346);
    margin-left:7%;
    margin-top: 5%;
    width: 20vw;
    height: 30vh;
}
.top1 img{
    width: 5vw;
}
.top2
{
    padding: 20px;
  border-radius: 20px;
    box-shadow:5px 5px 5px 8px rgba(0, 0, 0, 0.346);
    margin-left:5%;
    margin-top: 5%;
    width: 20vw;
    height: 30vh;
}
.top2 img{
    width: 5vw;
}
.bottom
{
    font-size: larger   ;
    width: 70vw;
    margin-left: 20%;
    margin-top: 5%;
}
.bottom img{
    width: 3vw;
}